# ===============================
# Backend
# ===============================
database/

backend/node_modules/

backend/.env.development
backend/.env


# ===============================
# Frontend
# ===============================
frontend/node_modules/

backend/.env.development
backend/.env